body {overflow: hidden;}

.dialog {
	position: absolute;
	top:50%;left:50%;
	transform:translateX(-50%) translateY(-50%);
	text-align: center;
}

.stretched {
	position: absolute;
	top:0;left:0;right:0;bottom: 0;
}

#myshazam {
	line-height: 30px;
}

.shazam, .service { 
	position: absolute;
}
.shazam, .service {
	transform: skew(-30deg);
	width:100%;
	height:100%;
	overflow: hidden;
}

.loggedin {
	padding:0 20%;
	overflow-y: auto;
}

.blurred .loggedin {
	filter: blur(2px);
	-webkit-filter: blur(2px);
}

#user-profile {
	padding: 3% 0 10%
}

.shazam {background: #1762A5; left:-50%;}
.shazam div {
	background:url('/img/shazam.jpg');
 	transform: skew(30deg)  translateX(30%);
}

.spotify {background: #8EBD05; right:-50%;}
.spotify div {
	background: url('/img/spotify.jpg') no-repeat;
	background-size: cover;
	transform: skew(30deg) translateX(-30%);
	opacity: 0.3;
}

.youtube {background: #fff; right:-50%;}
.youtube div {
	background: url('/img/youtube.jpg') no-repeat;
	background-size: cover;
	transform: skew(30deg) translateX(-30%);
	opacity: 0.3;
}

.instructions {
	line-height: 28px;
}

#countries {
	vertical-align: middle
}

#login {
	padding:30px 50px 50px;
	background: rgba(0,0,0,0.4);
	color:#fff;
}

#progressBarContainer {
	background: rgba(0,0,0,0.5)
}

#progressBar {
	width: 30%;
	height: 20px;
	width:40%;
	border: solid 1px #eee;
	border-radius: 4px;
	font-weight: bold;
	line-height: 20px;
	background: #fff;
}

#progressBarContainer span {
	color: #FFF;
	line-height: 1
}

#progressBarLoader {
	width:0;
	z-index: -1;
	position:absolute;
	height:100%;
	background: url('/img/loader.gif') repeat; 
}